.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-size: 1.25rem;
  padding: 0.6rem 0.72rem 0.6rem 2.23rem;
  gap: 1rem;
  border-color: transparent;
  border-radius: 2.25rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.arrowWrapper {
  border-radius: 2.25rem;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.arrowIcon {
  width: 0.5rem;
  height: 0.5rem;
  transition: stroke 0.7s ease;
}

.dark {
  background: var(--cor-2);
  color: var(--cor-1);
}

.dark .arrowWrapper {
  background: var(--cor-3);
}

.dark .arrowIcon {
  stroke: var(--cor-1);
}

.dark:hover {
  background: var(--cor-3);
}

.dark:hover .arrowWrapper {
  background: var(--cor-1);
}

.dark:hover .arrowIcon {
  stroke: var(--cor-2);
  z-index: 2;
}

.dropdown {
  border: 1px solid #000;
  width: 95%;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.light,
.dropdown {
  background: var(--cor-1);
  color: var(--cor-2);
}

.light .arrowWrapper,
.dropdown .arrowWrapper {
  background: var(--cor-3);
}

.light .arrowIcon,
.dropdown .arrowIcon {
  stroke: var(--cor-1);
}

.light:hover,
.dropdown:hover {
  background: var(--cor-3);
  color: var(--cor-1);
  border-color: transparent;
}

.light:hover .arrowWrapper,
.dropdown:hover .arrowWrapper {
  background: var(--cor-1);
}

.light:hover .arrowIcon,
.dropdown:hover .arrowIcon {
  stroke: var(--cor-2);
}
