/*TOP BAR*/

.header__topBar {
  padding: 0.5rem 1rem;
  background-color: var(--cor-0);
  justify-items: center;
}
.header__topBarText {
  font-size: 0.88rem;
  margin: 0.31rem 0.5rem;
}
.header__topBarText a {
  text-decoration: underline;
  cursor: pointer;
}
