.nav {
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  position: relative;
  display: flex;
  gap: 6rem;
}
.menuItem {
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.menuItem a {
  font-size: 1.25rem;
}

.logo {
  width: 100%;
}

.logo:hover rect {
  fill: var(--cor-8);
  transition: 0.5s;
}
.indicator {
  position: absolute;
  border: 2px solid var(--cor-7);
  border-radius: 999px;
  transition:
    left 0.3s ease,
    top 0.3s ease,
    width 0.3s ease,
    height 0.3s ease;
  pointer-events: none; /* não bloqueia o mouse */
}

@media (max-width: 105rem) {
  .logo {
    width: 90%;
  }
  .menu {
    gap: 5rem;
  }
  .menuItem a {
    font-size: 1.1rem;
  }
}

@media (max-width: 66.25rem) {
  .nav {
    padding: 1rem 3rem;
  }

  .menu {
    gap: 3rem;
  }
  .menuItem {
    padding: 0.8rem 1rem;
  }
}
