.navMobile {
  position: relative;
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileButton {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
  border: none;
  cursor: pointer;
}

.primaryButton {
  background-color: var(--cor-3);
  transition: 0.3s;
}

.primaryButton:after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.18rem;
  border-radius: 0.2rem;
  background-color: var(--cor-1);
  box-shadow:
    0 0.4rem var(--cor-1),
    0 -0.4rem var(--cor-1);
}

.activeButton {
  position: relative;
  background-color: var(--cor-5);
}
.activeButton::before,
.activeButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.2rem;
  height: 0.125rem;
  background-color: var(--cor-1);
  transform-origin: center;
}

.activeButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.activeButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

img {
  max-width: 11.87rem;
}

.dropDown {
  position: absolute;
  top: 5rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

  width: 20rem;
  height: 45vh;
  padding-top: 1rem;

  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 4px 6px -2px rgb(0 0 0 / 9%);

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.activeMenu {
  border: solid 0.0625rem var(--cor-2);
}

.inactiveMenu {
  border: solid 1px #c5bcc54d;
}
.menu {
  padding: 1.2rem;
  border-radius: 3.5rem;
  width: 85%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.menu a {
  font-size: 1.25rem;
}

@media (max-width: 31.25rem) {
  .dropDown {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: min(95vw, 420px);
  }
  .navMobile {
    padding: 1.5rem 2rem;
  }

  .open {
    transform: translate(-50%, 0);
  }
}
